run = "npm run watch"
modules = ["nodejs-20", "web"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 4200
externalPort = 80

[[ports]]
localPort = 45851
externalPort = 3000

[workflows]
runButton = "Iniciar aplicación"

[[workflows.workflow]]
name = "Iniciar aplicación"
author = 40247609

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[deployment]
run = ["sh", "-c", "npm run watch"]
